[Ll]ibrary/
[Tt]emp/
[Oo]bj/
[Ll]ogs/
[Uu]ser[Ss]ettings/
Builds/
TestResults/
.vs/
*.csproj
*.sln
*.slnx
*.user
*.pidb
*.unitypackage
[Mm]emory[Cc]aptures/
.idea/
*.apk
*.aab
*.ulf
*.alf
.env
.env.*
